@using JCTools.GenericCrud.Models
@using Microsoft.AspNetCore.Mvc.Localization
@model JCTools.GenericCrud.Models.IDetailsModel
@inject IViewLocalizer Localizer

@{
    Layout = Model.UseModals ? string.Empty : Model.LayoutPage;
    ViewData["Title"] = Model.Title;
    var entity = @Model.GetData();
}
@if (!Model.UseModals)
{
    <h2>@Model.Title</h2>
    <h3>@Model.Subtitle</h3>
}
<dl class="dl-horizontal row">
    @foreach (var property in entity.VisibleProperties)
    {
        <dt class="col-2">
            @property
        </dt>
        <dd class="col-10">
            @entity.GetPropertyValue(property)
        </dd>
    }
</dl>
@if (!Model.UseModals)
{
    <div class="row">
        <div class="col-md-12">
            <partial name="_action" model="Model.IndexAction" />
            @if (Model.CurrentProcess == CrudProcesses.Delete)
            {
                <partial name="_action" model="Model.DeleteAction" />
            }
        </div>
    </div>
}
